@import "tailwindcss" theme(static);
@import "@nuxt/ui";


@theme {
  --font-sans: "Inter", sans-serif;
}


@theme static {
  --color-neutral-1000: #000000;
  --color-neutral-900: #333333;
  --color-neutral-800: #4D4D4D;
  --color-neutral-700:  #666666;
  --color-neutral-600: #808080;
  --color-neutral-500: #999999;
  --color-neutral-400: #B3B3B3;
  --color-neutral-300: #C6C5C8;
  --color-neutral-200: #E6E6E6;
  --color-neutral-100: #F5F5F5;
  --color-neutral-50: #FAFAFA;
  --color-neutral-0: #FFFFFF;
  --color-neutral-bg: #FAFAFA;


  --color-shark-50: #f7f7f8;
  --color-shark-100: #eeeef0;
  --color-shark-200: #dadadd;
  --color-shark-300: #b9bac0;
  --color-shark-400: #93949d;
  --color-shark-500: #767781;
  --color-shark-600: #606169;
  --color-shark-700: #4e4e56;
  --color-shark-800: #434349;
  --color-shark-900: #3b3c3f;
  --color-shark-950: #252528;

  --color-white: #FFFFFF;


  --color-primary-1000: #000100;
  --color-primary-900: #001500;
  --color-primary-800: #013400;
  --color-primary-700: #035700;
  --color-primary-600: #067D00;
  --color-primary-500: #089000;
  --color-primary-400: #369B30;
  --color-primary-300: #69B263;
  --color-primary-200: #95C890;
  --color-primary-100: #EAF4E8;

  --color-green-800: #204126;
  --color-green-700: #31633A;
  --color-green-600: #42854E;
  --color-green-500: #53A862;
  --color-green-400: #73BA80;
  --color-green-300: #95CB9F;
  --color-green-200: #B7DCBE;
  --color-green-100: #F1F9F4;

  --color-yellow-1000: #F59E0B;
  --color-yellow-800: #79501B;
  --color-yellow-700: #A26C25;
  --color-yellow-600: #CC872E;
  --color-yellow-500: #D9A055;
  --color-yellow-400: #E2B67E;
  --color-yellow-300: #EBCEA8;
  --color-yellow-200: #F5E5D1;
  --color-yellow-100: #FCF7F1;

  --color-red-800: #FEF1F0;
  --color-red-700: #A61D11;
  --color-red-600: #D52516;
  --color-red-500: #EA4335;
  --color-red-400: #EF6D62;
  --color-red-300: #F39890;
  --color-red-200: #F8C3BE;
  --color-red-100: #FEF1F0;

  --color-skeleton: #D3D3D3;
  --color-placeholder:#BEBEBE

  --color-disabled: #E6E6E6
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


body {
  font-family: 'Alexandria', sans-serif;

}

.settings .router-link-exact-active {
  background-color: transparent ;
  color: var(--color-primary-500);
}
